{% extends 'base.html' %}
{% block dop_info %}
    <link type="text/css" href="../../static/finance_site/css/dashboard.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="hero--container">
        <div class="chart-container">
            {{ chart1|safe }}
            <div class="expenses-list">
                <h3>Траты по категориям:</h3> <!-- Заголовок перед списком расходов -->
                {% for i in dia_expenses %}
                    <p>{% block icons_ex %}
                    {% endblock %}{{ i.0 }}: {{ i.1 }}</p>
                {% endfor %}
            </div>
        </div>
        <div class="chart-container">
            {{ chart2|safe }}
            <div class="income-list">
                <h3>Доходы по категориям:</h3> <!-- Заголовок перед списком доходов -->
                {% for i in dia_income %}

                    <p>
                    {% block icons_in %}
                    {% endblock %} {{ i.0 }}: {{ i.1 }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
