{%extends 'base.html'%}

{% block dop_info %}
	<link type="text/css" href="../../static/finance_site/css/delete.css" rel="stylesheet">
{% endblock %}

{%block content%}
  <div class="wrapper">
      <h1>Подтвердите удаление</h1>
      <p>Вы уверены, что хотите удалить "{{ post }}"?</p>
      <form method="post">
          {% csrf_token %}
          <button class ="tut" type="submit">Удалить</button>
          <a class ='tuta' href="/users/profile/">Отмена</a>
      </form>
  </div>


{%endblock content%}