<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link type="text/css" href="../../static/finance_site/css/mainpage.css" rel="stylesheet">
</head>
<body>
    <header class="container">
        <img src="../../static/finance_site/images/Logo.svg" width="140px" height="110px" alt="">
        <span class="finances">FINANCES</span>
        <div class="login">
            <ul>
                <li class="btn"><a href="/users/login/">Войти</a></li>
                <li class="btn"><a href="/users/register/">Зарегистрироваться</a></li>
            </ul>
        </div>
    </header>

    <div class="hero container">
        <div class="hero--info">
            <h1>Удобный анализ финансов</h1>
            <p>Отслеживание и контроль собственных трат в несколько кликов</p>
        </div>
        <img src="../../static/finance_site/images/OBJECTS.svg" width="500px" height="300px">
    </div>

   <div class="footer">
    <div class="footer-content">
        <span class="footer-finances">© 2024, Finances</span>
        <img src="../../static/finance_site/images/Logo.svg" width="30px" height="30px" alt="Логотип">
    </div>
    <div class="footer-links">
        Контакты | Авторы
    </div>
    <div class="footer-emails">
        <span>Почта | github.com/Birobizhan</span>
        <span>miroshin0515@mail.ru | github.com/descip</span>
    </div>
</div>




</body>
</html>
