<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello world</title>
</head>
<body>
<h4>Доходы: {{income.amount__sum}}</h4>
<h4>Расходы: {{expenses.amount__sum}}</h4>
<form id="logoutForm" method="post" action="{% url 'users:logout' %}">
		{% csrf_token %}
		<li class="last"> <a href="{% url 'users:profile' %}">{{user.username }}</a> | <a href="#" onclick="document.getElementById('logoutForm').submit(); return false;">Выйти</a></li>
	</form>
<ul class="list-articles">
	{% for p in posts %}
	<li><div class="article-panel">
		<p class="first">Категория: {{p.cat}}</p>
		<p class="last">Дата: {{p.time_create|date:"d.m.Y H:i:s"}}</p>
		<p>Название операции: {{p.operation_name}}</p>
		<p>Сумма операции: {{p.amount}}</p>
		<p>Заметки: {{p.notes}}</p>
	</div>
			<h2>{{p.title}}</h2>
    {% autoescape off %}
	{{p.content|linebreaks|truncatewords:40}}
    {% endautoescape %}

			</li>
	{% endfor %}
</ul>
</body>
</html>