@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    background: #F5F5F5;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}



header {
    background-color: #868585;
    width: 100%;
    height: 15%;
    display: flex;
    align-items: flex-end;
}

header .finances {
    text-transform: uppercase;
    font-size: 42px;
    font-weight: 800;
    padding-bottom: 10px;
    letter-spacing: 6px;
}
header .login {
    float: right;
    padding-bottom: 25px;
    padding-left: 260px;
    font-size: 15px;
}

header ul {
    list-style: none;
    display: flex;
    text-indent: 22px;
}

header ul li {
    display: inline-block;
}

header ul li a {
    color: #000;
    border: 1px solid #000000;
}

header ul li.btn a {
    background: #FE786D;
    padding: 9px 17px;
    border-radius: 25px;
    transition: all 500ms ease;
}

header ul li.btn a:hover{
    background: #f3574c;
}

header ul li.btn_active a{
    background: #f3574c;
    padding: 9px 17px;
    border-radius: 25px;
    transition: all 500ms ease;
}
.footer {
    width: 100%;
    background-color: #868585;
    font-weight: 500;
    font-size: 16px;
    opacity: 80%;
    color: #000;
    padding: 10px 0;
    text-align: center;
    margin-top: 40px;
}

.footer-content {
    max-width: 1020px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-finances {
    margin-right: 10px;
}

.footer-links {
    margin: 5px 0;
}

.footer-links a {
    color: #000;
    margin: 0 5px;
}
.hero--container {
    display: flex;
    justify-content: space-between; /* Распределение пространства между элементами */
    align-items: flex-start; /* Выравнивание по верхнему краю */
    margin-top: 20px; /* Отступ сверху для контейнера с диаграммами */
}

.chart-container {
    text-align: center; /* Центрирование текста внутри контейнера */
}

.expenses-list, .income-list {
    margin-top: 10px; /* Отступ сверху для списков */
    background-color: #e7e7e7; /* Серый фон */
    border-radius: 8px; /* Закругление углов */
    padding: 10px; /* Отступ внутри блока */
}




.footer-emails {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-emails span {
    margin: 2px 0;
}

