<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <link type="text/css" href="../../static/users/css/login.css" rel="stylesheet">
</head>
<body>
    <header class="container">
        <a href="http://127.0.0.1:8000/"><img src="../../static/users/images/Logo.svg" width="140px" height="110px" alt=""></a>
		<span class="finances"><a href="http://127.0.0.1:8000/">FINANCES</a></span>
	</header>
    <div class="hero--container">
        <h1>Вход в FINANCES</h1>
        <form method="post" class="form-container">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}"/>
            <div class="form-error">{{ for.non_field_errors }}</div>
            <div class="form-group">
                <label class="form-label" for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
                {{ form.username }}
            </div>
            <div class="form-group">
                <label class="form-label" for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
                {{ form.password }}
            </div>
            <div class="form-group">
                <button type="submit" class="btn-submit">Войти</button>
            </div>
        </form>
    </div>

</body>
</html>