{% extends 'base.html' %}
{% block dop_info %}
	<link type="text/css" href="../../static/users/css/profile.css" rel="stylesheet">
{% endblock %}

{% block content %}
<h4>Доходы: {{income.amount__sum}}</h4>
<h4>Расходы: {{expenses.amount__sum}}</h4>
	<br>
<h4>Ваши цели:</h4>
<br><br>

<ul class="list-articles">
	{% for p in posts %}
	<li><div class="article-panel">
		<p class="first">Категория: {{p.cat}}</p>
		<p class="last">Дата: {{p.time_create|date:"d.m.Y H:i:s"}}</p>
		<p>Название операции: {{p.operation_name}}</p>
		<p>Сумма операции: {{p.amount}}</p>
		<p>Заметки: {{p.notes}}</p>
		<br>

	</div>
			<h2>{{p.title}}</h2>
    {% autoescape off %}
	{{p.content|linebreaks|truncatewords:40}}
    {% endautoescape %}

			</li>
	{% endfor %}
</ul>
{% endblock %}