<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link type="text/css" href="../../static/users/css/registration.css" rel="stylesheet">
</head>
<body>
     <header class="container">
        <a href="http://127.0.0.1:8000/"><img src="../../static/users/images/Logo.svg" width="140px" height="110px" alt=""></a>
		<span class="finances"><a href="http://127.0.0.1:8000/">FINANCES</a></span>
	</header>
      <div class="hero--container">
        <h1>Регистрация в FINANCES</h1>
        <form method="post" class="form-container">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}"/>
            <div class="form-error">{{ for.non_field_errors }}</div>
            {% for f in form %}
            <div class="form-group">
                <label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>
                {{ f }}
            </div>
            <div class="form_error">{{ f.errors }}</div>
            {% endfor %}
            <div class="form-group">
                <button type="submit" class="btn-submit">Регистрация</button>
            </div>
        </form>
      </div>
</body>
</html>