@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    background: #F5F5F5;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Задает минимальную высоту для body */
    margin: 0; /* Убирает отступы */
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}



header {
    background-color: #868585;
    width: 100%;
    height: 15%;
    display: flex;
    align-items: flex-end;
}

header .finances {
    text-transform: uppercase;
    font-size: 42px;
    font-weight: 800;
    padding-bottom: 10px;
    letter-spacing: 6px;
}
header .login {
    float: right;
    padding-bottom: 25px;
    padding-left: 260px;
    font-size: 15px;
}

header ul {
    list-style: none;
    display: flex;
    text-indent: 22px;
}

header ul li {
    display: inline-block;
}

header ul li a {
    color: #000;
    border: 1px solid #000000;
}

header ul li.btn a {
    background: #FE786D;
    padding: 9px 17px;
    border-radius: 25px;
    transition: all 500ms ease;
}

header ul li.btn a:hover{
    background: #f3574c;
}

header ul li.btn_active a{
    background: #f3574c;
    padding: 9px 17px;
    border-radius: 25px;
    transition: all 500ms ease;
}

.wrapper{
    width: 85%;
    margin: 0 auto;
}
.user {
    width: 100%;
    margin: 0 auto;
    padding: 10px 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

.username{
    order: 1;
    font-weight: 300;
    font-size: 40px;

}
.useravatar {
   width: 60px;
   height: 60px;
   border-radius: 50%;
}
ul {
    list-style-type: none;
}
.boxes {
    padding-top: 30px;
    padding-left: 20%;
    width: 60%;
    display: flex;
    gap: 50px;
    padding-bottom: 60px;
    justify-content: space-between;
}
.boxes li {
    display: inline-block;
    font-weight: 500;
    font-size: 35px;
}

.boxes p {
    margin-top: 5px;
    background: #FE7C6F;
    border: 1px solid #000;
    border-radius: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0; /* Добавляем отступы сверху и снизу */
}
.footer {
    background-color: #868585;
    font-weight: 500;
    font-size: 16px;
    opacity: 80%;
    color: #000;
    padding: 10px 0; /* Уменьшено отступы */
    text-align: center;
    margin-top: auto; /* Отталкивает футер вниз */
}

.footer-content {
    max-width: 1020px;
    margin: 0 auto;
    display: flex;
    align-items: center; /* Центрирование по вертикали */
    justify-content: center; /* Центрирование по горизонтали */
}

.footer-finances {
    margin-right: 10px; /* Отступ между текстом и логотипом */
}

.footer-links {
    margin: 5px 0; /* Уменьшено отступы */
}

.footer-links a {
    color: #000;
    margin: 0 5px; /* Уменьшено отступы между ссылками */
}

.footer-emails {
    margin-top: 5px; /* Уменьшено отступы */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-emails span {
    margin: 2px 0; /* Уменьшено отступы между строками */
}
.operations-container {
    display: flex; /* Используем flexbox для расположения колонок */
    justify-content: space-between; /* Распределяем пространство между колонками */
    margin-top: 20px; /* Отступ сверху */
}

.income-operations, .outcome-operations {
    flex: 1; /* Каждая колонка занимает равное пространство */
    margin: 0 10px; /* Отступы между колонками */
}

.operation-block {
    background-color: #f0f0f0; /* Серый фон */
    padding: 15px; /* Отступы */
    font-size: 20px;
    border-radius: 8px; /* Скругленные углы */
    margin: 10px 0; /* Отступы между операциями */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Тень для эффекта поднятия */
    display: flex; /* Используем Flexbox */
    align-items: left;
}

.inic{
    color: #4DAB57;
}
.expen{
    color: #D57B7B;
}
.cart{
    font-size: 70px;
}
.article-panel{
    margin-left: 30px;
}
