<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">


	{% block dop_info %}
	{% endblock %}
</head>
<body>
    <header class="container">
		<img src="../../static/finance_site/images/Logo.svg" width="140px" height="110px" alt="">
		<span class="finances">FINANCES</span>
		<div class="login">
			<ul>

				{% if request.path == '/users/profile/' %}
                <li class="btn_active"><a href="/users/profile">Профиль</a></li>
				{% else %}
				<li class="btn"><a href="/users/profile">Профиль</a></li>
				{% endif %}

				{% if request.path == '/addpage/' %}
				<li class="btn_active"><a href="/addpage/">Добавление операции</a></li>
				{% else %}
				<li class="btn"><a href="/addpage/">Добавление операции</a></li>
				{% endif %}

				{% if request.path == '/dashboard/' %}
				<li class="btn_active"><a href="/dashboard/">Статистика</a></li>
				{% else %}
				<li class="btn"><a href="/dashboard/">Статистика</a></li>
				{% endif %}

                <form id="logoutForm" method="post" action="{% url 'users:logout' %}">
		            {% csrf_token %}
                    <li class="btn"><a href="#" onclick="document.getElementById('logoutForm').submit(); return false;">Выйти</a></li>
                </form>

			</ul>
		</div>
	</header>

{% block content %} {% endblock %}
<div class="footer">
    <div class="footer-content">
        <span class="footer-finances">© 2024, Finances</span>
        <img src="../../static/finance_site/images/Logo.svg" width="30px" height="30px" alt="Логотип">
    </div>

    <div class="footer-emails">
        <span>Авторы: github.com/Birobizhan | github.com/descip</span>
        <span>Контакты: miroshin0515@mail.ru | fedorovd2005@gmail.com</span>
    </div>
	</div>
</body>