<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link type="text/css" href="../../static/finance_site/css/addpage.css" rel="stylesheet">

	{% block dop_info %}
	{% endblock %}
</head>
<body>
    <header class="container">
		<img src="../../static/finance_site/images/Logo.svg" width="140px" height="110px" alt="">
		<span class="finances">FINANCES</span>
		<div class="login">
			<ul>
				{% if request.path == '/users/profile/' %}
                <li class="btn_active"><a href="/users/profile">Профиль</a></li>
				{% else %}
				<li class="btn"><a href="/users/profile">Профиль</a></li>
				{% endif %}

				<li class="btn"><a href="/addpage/">Добавление операции</a></li>
				<li class="btn"><a href="/dashboard/">Статистика</a></li>
                <form id="logoutForm" method="post" action="{% url 'users:logout' %}">
		            {% csrf_token %}
                    <li class="btn"><a href="#" onclick="document.getElementById('logoutForm').submit(); return false;">Выйти</a></li>
                </form>

			</ul>
		</div>
	</header>

{% block content %} {% endblock %}

</body>